body {
    background-color: #fff;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
font-weight: bolder;
}

h1, h2 {
    color: #6e7d9e; /* blue-ish */
}

::selection {
    background-color: #af5010; /* yellow-ish */
    color: #fbf8e5;            /* red-ish    */
}

header {
    /*font-size: x-large;
    font-weight: bolder;*/
    /*background-color: #1E3C78;*/ /* blue       */
    background-color: #1F407A; /* blue       */
    color: #fff;
    text-align: center;
    margin: 0px 0px;
    padding: 10px 10px;
}

header h1 {
    color: #AF5010;
    letter-spacing: 0px;
}


figure {
    vertical-align: middle;
    margin: 0px 0px;
    padding: 0px 0px;
}

#name {
    font-weight: bold;
    font-size: large;
    color: #fff;
}

.date {
    color: #6e7d9e;
    font-size: large;
}

.info {
    color: #6e7d9e;
    font-size: large;
    font-weight: bold;
}


nav {
    background-color: #1F407A;
    color: #fff;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    margin: 0px 0px;
    padding: 5px 0px;
}

section a {
	font-weight: bold;
	font-size: large;
}


a {
    color: #6e7d9e;
}

a:link {
    text-decoration: none;
}

nav a::before {
    content: "\002329";
    color: #fff;
    /*color: #F9C989;*/
}

nav a::after  {
    content: "\00232A";
    color: #fff;
}

a:visited {
    text-decoration: none;
}

a:hover, a:active, #address:hover, #phone:hover, #email:hover {
    color: #AF5010;
}

a:active {
    color: #AF5010;
}

section {
    align: center;
}


footer {
    background-color: #A5B7C5;
    font-size: x-small;
    font-style: italic;
    margin: 0px 0px;
    padding: 5px 10px;
}

